@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Roboto&family=Taviraj:wght@200&display=swap');

*{
    padding: 0%;
    margin: 0%;
    color:#FFC72C;
    font-family:  'Caprasimo', cursive;
    
}


body {
   
    background:  linear-gradient(rgba(5, 7, 12, 0.80), rgba(5, 7, 12, 0.80)),  url(https://img.freepik.com/vector-premium/bandera-colombia-pincel-pintura_1078-609.jpg?w=2000)  no-repeat right top fixed;
   background-position: center;
   min-height: 100vh;
   display: flex;
   text-align: center;
   align-items: center;
   justify-content: center;
}



.hola{
    display: block;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.logo{
    width: 100px;
    border-radius: 50%;
    height: 100px;
}



.lista{
    margin-top: 5%;
}
  
.lista ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
.lista ul li {
    display: inline-block;
  }
  
  .lista ul li a {
    display: block;
    padding: 15px;
    color: #FFC72C;
    text-decoration: none;

  }
  
  .lista ul li a:hover {
    background-color: #a5a2a2;
    border-radius: 60%;
  }

  h3{
    margin-top: 10%;
  }
  .CardIMG{
    display: flex;
    align-items: center;
    justify-content: center;
  }

 
  .carta{
    margin: 2%;
    display: none;
    
  }
  .card h4{
    color: #FFC72C;
  }
  .card-body{
    background:  #02020f;
    width: 100%;
  }

  .card-title{
    padding-right: 150px;
    margin-top: 17px;
  }
  .card-text{
    margin-top: 17px;
  }
  
  .hola,
.lista {
  opacity: 0;
  transform: translateY(30px);
  animation: fade-in 1.3s ease-in-out forwards;
}

.lista .menu-item:nth-child(1) {
  animation-delay: 1s;
}

.lista .menu-item:nth-child(2) {
  animation-delay: 1.5s;
}

.lista .menu-item:nth-child(3) {
  animation-delay: 1.9s;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
  
.CardIMG .carta{
  opacity: 0;
  transform: translateY(30px);
  animation: fade-in 1.3s ease-in-out forwards;
}

.lista .menu-item:nth-child(1) {
  animation-delay: 1s;
}

.lista .menu-item:nth-child(2) {
  animation-delay: 1.5s;
}

.lista .menu-item:nth-child(3) {
  animation-delay: 1.9s;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}